<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <KremsaDigital_StarSocial>
            <version>1.0</version>
        </KremsaDigital_StarSocial>
    </modules>

    <frontend>
        <layout>
            <updates>
                <StarSocial>
                    <file>StarSocial.xml</file>
                </StarSocial>
            </updates>
        </layout>
        <events>
            <customer_register_success>
                <observers>
                    <optinAfterRegister>
                        <class>KremsaDigital_StarSocial_Model_Observer</class>
                        <method>optinAfterRegister</method>
                    </optinAfterRegister>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <optinAfterRegister>
                        <class>KremsaDigital_StarSocial_Model_Observer</class>
                        <method>optinAfterLogin</method>
                    </optinAfterRegister>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <optinAfterRegister>
                        <class>KremsaDigital_StarSocial_Model_Observer</class>
                        <method>optinAfterLogout</method>
                    </optinAfterRegister>
                </observers>
            </customer_logout>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <trackAfterCartAdd>
                        <class>KremsaDigital_StarSocial_Model_Observer</class>
                        <method>trackAddToCart</method>
                    </trackAfterCartAdd>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <checkout_onepage_controller_success_action>
                <observers>
                    <trackCheckoutComplete>
                        <class>KremsaDigital_StarSocial_Model_Observer</class>
                        <method>trackCheckoutComplete</method>
                    </trackCheckoutComplete>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>

    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<starsocial translate="title" module="starsocial">
											<title>StarSocial</title>
										</starsocial>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>		
    </adminhtml>

    <global>
        <resources>
            <StarSocial_setup>
                <setup>
                    <module>KremsaDigital_StarSocial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </StarSocial_setup>
            <StarSocial_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </StarSocial_write>
            <StarSocial_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </StarSocial_read>
        </resources>
        <helpers>
            <starsocial>
                <class>KremsaDigital_StarSocial_Helper</class>
            </starsocial>
        </helpers>
		<models>
            <starsocial>
                <class>KremsaDigital_StarSocial_Model</class>
            </starsocial>
        </models>
    </global>
</config>